@model Cinema.Models.MovieDetailsVm

@{
    ViewData["Title"] = "Movie";
}

<h2>Movie Details</h2>

<img src="@System.IO.Path.Combine("../../", Model.Film.PosterPath)" style="display: inline-block" width="180" height="320" />
<div style="margin-left: 150px; float: right;">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Film.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Film.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Film.Director)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Film.Director)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Film.Lenght)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Film.Lenght)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Film.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Film.Description)
        </dd>
    </dl>
</div>
<h3>Show times</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShowTimes[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowTimes[0].Place.RoomName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShowTimes)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@item.MovieOnAir.Id">
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place.RoomName)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Main Page</a>
</div>
